= semantic_form_for @mini_review do |f|
  - if @mini_review.errors.any?
    #error_explanation
      %h2 #{pluralize(@mini_review.errors.count, "error")} prohibited this mini_review from being saved:

      %ul
        - @mini_review.errors.full_messages.each do |msg|
          %li= msg

  = f.inputs do
    = f.input :films, collection: Hash[Film.all.map {|f| ["#{f.formatted_name}(#{f.imdb_id})", f.id]}]
    or
    = link_to "new film", "/films/new"
    = f.input :rating
    = f.input :tag_list
    = f.input :content
    
  = f.actions
