%h1 Listing directors
%table
  %tr
    %th Name
    %th Dob
    %th Dod
    %th Bio
    %th
    %th
    %th
  - @directors.each do |director|
    %tr
      %td= director.name
      %td= director.dob
      %td= director.dod
      %td= director.bio
      %td= link_to 'Show', director
      %td= link_to 'Edit', edit_director_path(director)
      %td= link_to 'Destroy', director, method: :delete, data: { confirm: 'Are you sure?' }
%br/
