%p#notice= notice
%h2
  = @director.name
%p
  #{@director.dob||"UNKNOWN"} — #{@director.dod||"UNKNOWN"}
%p
  %b Bio:
  = @director.bio.html_safe

%p
  %b Films:
  %ul
    - @director.films.each do |f|
      %li= link_to f.formatted_name, "/films/#{f.id}"
    
