%h1 Listing films

%table
  %tr
    %th Name
    %th Rating
    %th/
    %th/
    %th/

- @films.each do |film|
  %tr
    %td= film.name
    %td= film.year
    %td= link_to 'Show', film
    %td= link_to 'Edit', edit_film_path(film)
    %td= link_to 'Destroy', film, method: :delete, data: { confirm: 'Are you sure?' }


%br/
