<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @film.name %>
</p>
<p>
  <b>Rating:</b>
  <%= @film.rating %>
</p>


<%= link_to 'Edit', edit_film_path(@film) %> |
<%= link_to 'Back', films_path %>
